/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, #d13a3a, #7f2286);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

#rules {
    /* display: inline-block; */
    position: absolute;
    top: 1rem;
    right: 3rem;
}

#rules::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
#rules:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
#rules a {
    color: rgb(207, 207, 207);
    font-weight: 400;
    text-decoration: none;
}

main {
    position: relative;
    display: flex;
    width: 65rem;
    height: 40rem;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    filter: blur();
    overflow: hidden;
    box-shadow: 0 3rem 5rem rgba(0,0,0,0.25);
}

.player {
    flex: 50%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75%;
}

.name {
    position: relative;
    font-size: 2.8rem;
    letter-spacing: 3px;
    word-spacing: 5px;
    margin-bottom: 4rem;
}

.score {
    font-size: 4rem;
    font-weight: 300;
    color: #c7365f;
    margin-bottom: auto;
}

.player--active {
    background-color: rgba(255, 255, 255, 0.4);
}

.player--active .name {
    font-weight: 700;
}

.player--active .score {
    font-weight: 400;
}

.player--active .current {
    opacity: 1;
}

.current {
    background-color: #c7365f;
    width: 65%;
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    padding: 1.2rem;
    text-align: center;
    transition: all 0.75s;
}

.current-label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-weight: 300;
}

.current-score {
    font-size: 3rem;
    font-weight: 300;
}

.dice {
    position: absolute;
    width: 100px;
    top: 10rem;
    left: 50%;
    box-shadow: 0 2rem 5rem rgba(0,0,0,0.2);
    transform: translateX(-50%);
}

.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s;

    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);

    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.2);
}

.btn--new {
    top: 2rem;
}

.btn--roll {
    top: 27rem;
}

.btn--hold {
    top: 32rem;
}

.btn:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
    outline: none;
}

.player--winner {
    background-color: #2f2f2f;
}

.player--winner .name {
    font-weight: 700;
    color: #c7365f;
}

.hidden {
    display: none;
  }